<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        Привет , Поздравляю ты залогинился и теперь я смогу вместо тебя быть онлайн на портале
    </h1>
    <h2>
        Тебе не придеться постоянно обновлять свое присутствие , я беру это на себя.
    </h2>
     <h3>
         Указывать на какие курсы заходить тебе не нужно я сам пойму это 
     </h3>
     <br>
     <br>
     <br>
     <br>
     <br>
     <h5>
        P.S: К сожалению у меня нет друга UI дизайнера и поэтому сайт выглядит как из 00-х , но это исправимо. 
        Но ты не смотри на обложку,  поставленную задачу я выполняю хорошо
    </h5>
    <a href="/change_password/"> Поменять пароль существующего аккаунта </a>
</body>
</html>